.menu-container {
  display: grid;
  grid-template-columns: 200px 1fr;
  background-color: black;
  color: white;
}

.logo {
  text-align: center;
}
ul {
  display: flex;
  align-items: center;
}

li {
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
}